TELEGRAM_ENABLED=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
OLLAMA_MODEL=
OLLAMA_EMBEDDING_MODEL=
OLLAMA_VISION_MODEL=
WHATSAPP_ENABLED=
PUPPETEER_EXECUTABLE_PATH=
SLACK_BOT_TOKEN=
WEB_SEARCH_MODEL=
JINA_API_KEY=
PERPLEXITY_API_KEY=
PERPLEXITY_WEB_SEARCH_MODEL=
TAVILY_API_KEY=
WOLFRAM_API_ID=
ARXIV_MAX_RESULTS=
